{% for item in menu %}
							<li><a href="{{ item.link }}" target="{{ item.target }}">{{item.label}}</a></li>
{% endfor %}
<li><a href="https://tickets.sha2017.org" class="button special" target="_blank">Ticketshop</a></li>
