{% for item in menu %}
							<li><a href="{{ item.link }}" target="{{ item.target }}">{{item.label}}</a></li>
{% endfor %}
<li><a href="https://program.sha2017.org" class="button special" target="_blank" style="background-color: #06b939;" rel="noopener noreferrer">Program</a></li>
<li><a href="https://tickets.sha2017.org" class="button special" target="_blank" style="background-color: #c057d6;" rel="noopener noreferrer">Buy Tickets</a></li>
