				<section id="five" class="wrapper style2 special">
					<div class="container">
						<header>
							<h2>Sign up for our announce list</h2>
							<p>Enter your mail here to sign up on our announce list</p>
						</header>
						<form method="post" action="https://lists.sha2017.org/cgi-bin/mailman/subscribe/testlist" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>
