<!-- This page will self destruct in 5 seconds. -->
<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>SHA DESIGN GENERATOR V1.0</title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="{{ paths.theme }}/assets/design/style.css">	



		<script src="{{ paths.theme }}/assets/design/script.js"></script>
		<script src="{{ paths.theme }}/assets/design/sha1.js"></script>
	</head>
	<body onload="focusinput()">

        <div class="container99">
            <textarea tabindex="1" name="input" id="input" onkeyup="hash()" onchange="hash()">SHA
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                             2017</textarea>
        </div>
        <div class="flag" id="SHA1_flag"><span class="flagblock" style="background-color: #c057d6">&nbsp;</span><span class="flagblock" style="background-color: #086a9a">&nbsp;</span><span class="flagblock" style="background-color: #5b4ddb">&nbsp;</span><span class="flagblock" style="background-color: #2c7e52">&nbsp;</span><span class="flagblock" style="background-color: #d39a49">&nbsp;</span><span class="flagblock" style="background-color: #06b939"><span class="flagcode">+2017</span></span></div>

        <div class="container">
            <div class="outputcontrol">
                Font-size: <input min="12" max="200" id="slider" onchange="changeFontSize()" value="106" type="range">
                Demo: <input onclick="typedemo()" value="60 Second Demo" type="button">
            </div>

            <h2>Tutorial:</h2>
            <p>Requesting this page with ?input= adds your input. For example: </p>
            <ul>
                <li><a href="https://sha2017.org/design/?input=Hello%20World">Hello World</a></li>
                <li><a href="https://sha2017.org/design/?input=there%20is%20no%20game">there is no game</a></li>
                <li><a href="https://sha2017.org/design/?input=If%20you%27re%20happy%20and%20you%20know%20it%20clap%20your%20hands%20%F0%9F%91%8F%20%F0%9F%91%8F">If you're happy and you know it...</a></li>
            </ul>


			<h2>Three Letter Acronym Example (beta)</h2>
			<div id="blockall">
				<div style="logo" id="logo"><span class="flagblock" style="background-color: #c057d6">&nbsp;</span><span class="flagblock" style="background-color: #086a9a">&nbsp;</span><span class="flagblock" style="background-color: #5b4ddb">&nbsp;</span><span class="flagblock" style="background-color: #2c7e52">&nbsp;</span><span class="flagblock" style="background-color: #d39a49">&nbsp;</span><span class="flagblock" style="background-color: #06b939"><span class="flagcode">+2017</span></span></div>
				<span id="logotext">SHA</span>
				<span id="textcode">+2017</span>
			</div>

            <h2>Canvas examples</h2>
            <p>Download and install the <a href="https://www.fontsquirrel.com/fonts/roboto" target="_blank">Roboto Black font, here</a>. Then the images will render properly...</p>
            <p>Please make them in more sizes... smarter... Github --&gt; <a href="https://github.com/sha2017/designgenerator">here</a></p>
            <p><input onclick="download('flag_square');" value="Download below image (square)" type="button"></p>
            <canvas id="flag_square" width="600" height="600"></canvas>

            <p><input onclick="download('flag_rectangle');" value="Download below image (rectangle)" type="button"></p>
            <canvas id="flag_rectangle" width="800" height="200"></canvas>


            <div class="codes">
                <h2>Hash codes</h2>
                <div class="kvp"><label>Lowercase: </label><input id="SHA1_normal" value="c057d6086a9a5b4ddb2c7e52d39a4906b9392017"></div>
                <div class="kvp"><label>Uppercase: </label><input id="SHA1_uppercase" value="C057D6086A9A5B4DDB2C7E52D39A4906B9392017"></div>
                <div class="kvp"><label>Split: </label><input id="SHA1_split" value="c0:57:d6:08:6a:9a:5b:4d:db:2c:7e:52:d3:9a:49:06:b9:39:20:17"></div>
                <div class="kvp"><label>Freedomflag: </label><input id="SHA1_freedomflag" value="#c057d6 #086a9a #5b4ddb #2c7e52 #d39a49 #06b939 +2017"></div>
            </div>
            <div class="footer" div="" id="footer">
        		CC0 Elger Jonker <br>
        		<span class="small">Hash implementations used freely under MIT license.</span><br>
                Github: <a href="https://github.com/sha2017/designgenerator">https://github.com/sha2017/designgenerator</a>
            </div>
        </div>
	

</body></html>